[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/hugo-theme-hello-friend-2"]
	path = themes/hugo-theme-hello-friend-2
	url = https://github.com/labicquette/hugo-theme-hello-friend-2.git
